<html>

<head>
    <meta charset="utf-8">
    <title>Edit Password</title>
    <%- include layout/materialize %>
</head>

<body>
    <%- include layout/innerside %>
        <br><br><br>
        <div class="container">
            <form action="/user/profile/editpassword" method="post">
                <h3 style="color:red;">
                    <% if (errs) { %>
                        <%= errs %>
                            <% } %>
                </h3>
                <br><br>
                <input type="password" name="passwordlama" placeholder="Old Password"><br><br>
                <input type="password" name="passwordbaru" placeholder="New Password"><br>
                <input type="password" name="confpasswordbaru" placeholder="Confirm New Password"><br><br>
                <button type="submit" name="submit" class="waves-effect waves-light btn #37474f blue-grey darken-3">submit</button>
            </form>
        </div>
</body>

</html>