<!DOCTYPE html>
<html lang="en">

<head>
    <title>HOMEPAGE</title>
    <%- include layout/materialize %>
</head>

<body>
    <%- include layout/innerside %>
        <div class="jumbotron" align=center>
            <div class="container">
                <h1>Welcome to VenueKing!</h1>
                <p>Your Number One Venue Booking</p>
                <p>
                    <%= name.toUpperCase() %>
                </p>
            </div>
        </div>
</body>

</html>