<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WELCOME</title>
        <%- include layout/materialize %>
    </head>
    <body align=center>
        <%- include layout/sidebar %>
            <div class="parallax-container">
                <div class="parallax"><img src="/stage.jpg" width="100%"></div>
            </div>
            <div class="section">
                <div class="row container">
                    <p class="grey-text text-darken-3 lighten-3" align=center><img src="/Screen Shot 2017-07-19 at 10.49.10.png" alt=""></p>
                </div>
            </div>
            <div class="parallax-container">
                <div class="parallax"><img src="/ground.jpg" width="100%"></div>
            </div>
    </body>
</html>