<ul id="slide-out" class="side-nav fixed">
    <li>
        <img class="circle" src="/venuekings-.jpg" height="160">
    </li>
    <li><a class="waves-effect" href="/user/profile">Profile</a></li>
    <li><a class="waves-effect" href="/venue">Venue</a></li>
    <li><a class="waves-effect" href="/logout">Log Out</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Dropdown<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!">First</a></li>
                        <li><a href="#!">Second</a></li>
                        <li><a href="#!">Third</a></li>
                        <li><a href="#!">Fourth</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>