<ul id="slide-out" class="side-nav fixed">
    <li>
            <img class="circle" src="/venuekings-.jpg" height="160">
    </li>
    <li><a class="waves-effect" href="/register">Register</a></li>
    <li><a class="waves-effect" href="/login">Login</a></li>
</ul>